body {
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 250px 3fr 1fr;
    grid-template-rows: 200px 2fr 2fr;
}

.dashboard {
    color: white;
    background-color: rgb(80, 80, 80);
    grid-row: 1 / 4;
    grid-column: 1;
    display: grid;
    padding-left: 40px;
    border-right: 2px solid rgba(0, 0, 0, 0.671);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo.holder {
    font-size: 25px;
    font-weight: bold;
    display: grid;
}



.dashboard  ul {
    list-style-type: none;
    display: grid;
    row-gap: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}

li {
    display: grid; 
    grid-template-columns: 40px 1fr;
    align-self: end;
}

.svg {
    height: 30px;
    width: 30px;
    background-color: grey;
}

.nav {
    grid-row: 1;
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 20px;
    padding-right: 35px;
}

.search-section {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-content: center;
}

.search-bar {
    width: 80%;
    height: 30px;
    background-color: rgba(128, 128, 128, 0.63);
    border-radius: 150px;
}

.profile.section-1 {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-content: center;
    align-items: center;
    text-align: start;
    */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40%;
    gap: 40px;
}

.profile.logo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: grey;
}

.profile.logo,
.notif {
    justify-self: end;
}



.profile.section-2 {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;
}

.profile.section-2 > .profile.logo {
    grid-column: 1;
    width: 80px;
    height: 80px;
}


.dummy {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

.name {
    font-size: 25px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.button.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-area: 2 / 2 / 3 / 3;
    align-items: center;
    justify-items: center;
}

.button.nav > button {
    background-color: rgb(175,175,175);
    border-radius: 15px;
    color: white;
    padding: 5px 28px;
    border: 2px offset black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.project {
    grid-row: 2 / 4;
}

.announce {
    grid-area: 2 / 3 / 3 / 4;
}

.trending {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}